BOT_TOKEN=your_telegram_bot_token
ADMIN_IDS=514507232
ORDERS_CHANNEL_ID=-1001234567890
PAYMENT_SBP_PHONE=+79001234567
PAYMENT_BANK=Сбербанк
PAYMENT_CARD_NUMBER=0000 0000 0000 0000
PAYMENT_RECIPIENT=Екатерина Скулоченко
MEDITATION_FILE=/app/.data/meditation.mp3
